{
  "openapi": "3.0.3",
  "info": {
    "title": "LectureDekho Documentation",
    "description": "LectureDekho Documentation Description",
    "version": "1.0.11"
  },
  "components": {
    "securitySchemes": {
      "customAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "customAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://api.vedaacademy.org.in"
    },
    {
      "url": "https://ldapi.anshuagrawal.in"
    },
    {
      "url": ""
    } 
  ],
  "tags": [
    {
      "name": "Admin",
      "description": "Admin credentials details"
    },
    {
      "name": "Activity",
      "description": "Activity details"
    },
    {
      "name": "Assignment",
      "description": "Assignment details"
    },
    {
      "name": "Attandance",
      "description": "Attandance details"
    },
    {
      "name": "BatchDate",
      "description": "BatchDate Details"
    },
    {
      "name": "BatchType",
      "description": "BatchType Details"
    },
    {
      "name": "Banner",
      "description": "Banner Details"
    },
    {
      "name": "Bulkupload",
      "description": "Bulkupload Details"
    },
    {
      "name": "Board",
      "description": "Board Details"
    },
    {
      "name": "Bookmark",
      "description": "Bookmark Details"
    },
    {
      "name": "Content",
      "description": "Content Details"
    },
    {
      "name": "Cart",
      "description": "Cart Details"
    },
    {
      "name": "Chapter",
      "description": "Chapter Details"
    },
    {
      "name": "City",
      "description": "City Details"
    },
    {
      "name": "Class",
      "description": "Board Details"
    },
    {
      "name": "Course",
      "description": "Course Details"
    },
    {
      "name": "Dashboard",
      "description": "Dashboard Details"
    },
    {
      "name": "Doubt",
      "description": "Doubt Details"
    },
    {
      "name": "Grievances",
      "description": "Grievances Details"
    },
    {
      "name": "liveEvent",
      "description": "liveEvent Details"
    },
    {
      "name": "Enquries",
      "description": "Enquries Details"
    },
    {
      "name": "Excel Download",
      "description": "Excel Details"
    },
    {
      "name": "FAQ",
      "description": "FAQ Details"
    },
    {
      "name": "Feedback",
      "description": "Feedback Details"
    },
    {
      "name": "Top highlight",
      "description": "Top highlight Details"
    },
    {
      "name": "InternalSetting",
      "description": "internalSetting Details"
    },
    {
      "name": "Mentorship",
      "description": "Mentorship Details"
    },
    {
      "name": "MentorshipHelp",
      "description": "MentorshipHelp Details"
    },
    {
      "name": "leaderBoard",
      "description": "leaderBoard Details"
    },
    {
      "name": "Notice",
      "description": "Notice Details"
    },
    {
      "name": "OnlyForYou",
      "description": "OnlyForYou Details"
    },
    {
      "name": "Order",
      "description": "Order Details"
    },
    {
      "name": "Packages",
      "description": "Packages Details"
    },
    {
      "name": "PageBackLink",
      "description": "PageBackLink Details"
    },
    {
      "name": "Parent login",
      "description": "Parent login"
    },
    {
      "name": "Payment",
      "description": "Payment Details"
    },
    {
      "name": "Permission",
      "description": "Permission"
    },
    {
      "name": "Permission Roles",
      "description": "Role Details"
    },

    {
      "name": "questionBank",
      "description": "questionBank Details"
    },
    {
      "name": "Quiz",
      "description": "Quiz Details"
    },
    {
      "name": "Rating",
      "description": "Rating Details"
    },
    {
      "name": "RecentActivity",
      "description": "Revision Details"
    },
    {
      "name": "Report",
      "description": "Report Details"
    },
    {
      "name": "Revision",
      "description": "Revision Details"
    },
    {
      "name": "RequestCall",
      "description": "RequestCall Details"
    },
    {
      "name": "Schedule",
      "description": "Schedule Details"
    },
    {
      "name": "Scholarship",
      "description": "Scholarship Details"
    },
    {
      "name": "siteSetting",
      "description": "siteSetting Details"
    },
    {
      "name": "State",
      "description": "State Details"
    },
    {
      "name": "Shorts",
      "description": "Shorts Details"
    },
    {
      "name": "Staff",
      "description": "Staff Details"
    },
    {
      "name": "Student",
      "description": "Student Details"
    },
    {
      "name": "Subject",
      "description": "Subject Details"
    },
    {
      "name": "Syllabus",
      "description": "Syllabus Details"
    },
    {
      "name": "Teacher",
      "description": "Teacher Details"
    },
    {
      "name": "Test",
      "description": "Test Details"
    },
    {
      "name": "Test Reports",
      "description": "Test reports details"
    },
    {
      "name": "Topics",
      "description": "Topics Details"
    },
    {
      "name": "urlUpload",
      "description": "urlUpload Details"
    },
    {
      "name": "User",
      "description": "User Details"
    },
    {
      "name": "WantToBe",
      "description": "WantToBe Details"
    },
    {
      "name": "zoom",
      "description": "zoom Details"
    }
  ],
  "paths": {
    "/createActivity": {
      "post": {
        "tags": ["Activity"],
        "summary": "create Activity ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "integer",
                    "example": 1
                  },
                  "module": {
                    "type": "string",
                    "example": "test"
                  },
                  "activityName": {
                    "type": "string",
                    "example": "testSeries"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Activity created Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "xml": {
                    "wrapped": true
                  },
                  "items": {
                    "properties": {
                      "userId": {
                        "type": "integer",
                        "example": 1
                      },
                      "module": {
                        "type": "string",
                        "example": "test"
                      },
                      "activityName": {
                        "type": "string",
                        "example": "testSeries"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getAllActivity": {
      "get": {
        "tags": ["Activity"],
        "summary": "Get All Activity",
        "description": "Get Activity Details",
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getActivityById/{id}": {
      "get": {
        "tags": ["Activity"],
        "summary": "Get Activity By Id",
        "description": "Get Activity Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getActivityByStudentId/{id}": {
      "get": {
        "tags": ["Activity"],
        "summary": "Get Activity By Id",
        "description": "Get Activity Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/updateActivityById/{id}": {
      "put": {
        "tags": ["Activity"],
        "summary": "Activity update by id",
        "description": "Activity update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "number",
                    "example": "1"
                  },
                  "name": {
                    "type": "string",
                    "example": "CBSE"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Activity updated Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/deleteActivityById/{id}": {
      "delete": {
        "tags": ["Activity"],
        "summary": "delete Activity By Id",
        "description": "delete Activity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "Activity deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/adminSignup": {
      "post": {
        "tags": ["Admin"],
        "summary": "Sign Up admin users",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "chinmayee",
                    "required": true
                  },
                  "email": {
                    "type": "string",
                    "example": "chinmayee@gmail.com",
                    "required": true
                  },
                  "password": {
                    "type": "string",
                    "example": "ffd546fgdz",
                    "required": true
                  },
                  "phone": {
                    "type": "string",
                    "example": "9999999999",
                    "required": true
                  },
                  "department": {
                    "type": "integer",
                    "example": "teacher",
                    "required": true
                  },
                  "dob": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "gender": {
                    "type": "string",
                    "example": "Male",
                    "enum": ["Male", "Female", "Other"]
                  },
                  "avatar": {
                    "type": "string",
                    "example": "data:image/png;base64,/9j/4AAQSkZJRgABAQAAAQABAAD"
                  },
                  "classId": {
                    "type": "array",
                    "example": [1, 2]
                  },
                  "batchTypeId": {
                    "type": "array",
                    "example": [1, 2]
                  },
                  "subjectId": {
                    "type": "array",
                    "example": [1, 2]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Admin added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "xml": {
                    "wrapped": true
                  },
                  "items": {
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "department": {
                        "type": "string"
                      },
                      "dob": {
                        "type": "string"
                      },
                      "gender": {
                        "type": "string"
                      },
                      "boardId": {
                        "type": "integer"
                      },
                      "classId": {
                        "type": "integer"
                      },
                      "subjectId": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/adminLoginWithEmail": {
      "post": {
        "tags": ["Admin"],
        "summary": "Login in Admin users",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "chinmayee@gmail.com",
                    "required": true
                  },
                  "password": {
                    "type": "string",
                    "example": "ffd546fgdz",
                    "required": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Admin added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "xml": {
                    "wrapped": true
                  },
                  "items": {
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateAdminPassword": {
      "put": {
        "tags": ["Admin"],
        "summary": "Admin update by token",
        "description": "Admin update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNjc0MzAyMzkwfQ.oYR0tFx7znRKhmvVYXsscf8Dr6hldN4725dkUHm1zUc"
                  },
                  "password": {
                    "type": "string",
                    "example": "deepBag132"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/createBoard": {
      "post": {
        "tags": ["Board"],
        "summary": "create Board ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "number",
                    "example": "1"
                  },
                  "name": {
                    "type": "string",
                    "example": "CBSE"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Board created Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "xml": {
                    "wrapped": true
                  },
                  "items": {
                    "properties": {
                      "courseId": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getAllBoards": {
      "get": {
        "tags": ["Board"],
        "summary": "Get All Board",
        "description": "Get board Details",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit of page no.",
            "type": "integer"
          },
          {
            "name": "search",
            "in": "query",
            "description": "board id",
            "type": "integer"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string",
            "example": ["all", "active", "inactive", ""]
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getBoardById/{id}": {
      "get": {
        "tags": ["Board"],
        "summary": "Get Board By Id",
        "description": "Get Board Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getBoardsByCourseId": {
      "post": {
        "tags": ["Board"],
        "summary": "Get Board By course Id",
        "description": "Get board Details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "number",
                    "example": "1"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/updateBoardById/{id}": {
      "put": {
        "tags": ["Board"],
        "summary": "Board update by id",
        "description": "Board update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "number",
                    "example": "1"
                  },
                  "name": {
                    "type": "string",
                    "example": "CBSE"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "update Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/deleteBoard/{id}": {
      "delete": {
        "tags": ["Board"],
        "summary": "delete Board By Id",
        "description": "delete Board",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "board deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/addBookmark": {
      "post": {
        "tags": ["Bookmark"],
        "summary": "add,update and delete bookmark",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "subjectId": {
                    "type": "integer",
                    "example": 2
                  },
                  "chapterId": {
                    "type": "integer",
                    "example": 1
                  },
                  "topicId": {
                    "type": "integer",
                    "example": 1
                  },
                  "userId": {
                    "type": "integer",
                    "example": 1
                  },
                  "typeId": {
                    "type": "integer",
                    "example": 1
                  },
                  "revisionId": {
                    "type": "integer",
                    "example": 1
                  },
                  "bookmarkType": {
                    "type": "string",
                    "example": [
                      "video",
                      "question",
                      "Summary",
                      "Quick Bites",
                      "Questions"
                    ]
                  },
                  "bookmark": {
                    "type": "boolean",
                    "example": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bookmark created Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getAllBookmark": {
      "post": {
        "tags": ["Bookmark"],
        "summary": "Get All Bookmark",
        "description": "Get Bookmark Details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "bookmarkType": {
                    "type": "string",
                    "example": ["question", "video"]
                  },
                  "subjectId": {
                    "type": "integer",
                    "example": 2
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getBookmarkById": {
      "post": {
        "tags": ["Bookmark"],
        "summary": "Get single Bookmark",
        "description": "Get Bookmark Details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "integer",
                    "example": 1
                  },
                  "bookmarkId": {
                    "type": "integer",
                    "example": 1
                  },
                  "bookmarkType": {
                    "type": "string",
                    "example": "video"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "integer",
                      "example": 1
                    },
                    "bookmarkId": {
                      "type": "integer",
                      "example": 1
                    },
                    "bookmarkType": {
                      "type": "string",
                      "example": "video"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/countBookmark": {
      "get": {
        "tags": ["Bookmark"],
        "summary": "Bookmark By user Id In query params",
        "description": "get Bookmark",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "Bookmark count get successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Found Data !!!"
                    },
                    "videoCount": {
                      "type": "number",
                      "example": 0
                    },
                    "questionCount": {
                      "type": "number",
                      "example": 2
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/addBatchDate": {
      "post": {
        "tags": ["BatchDate"],
        "summary": "create BatchDate ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "integer",
                    "example": "1"
                  },
                  "boardId": {
                    "type": "integer",
                    "example": "1"
                  },
                  "classId": {
                    "type": "integer",
                    "example": "1"
                  },
                  "batchTypeId": {
                    "type": "integer",
                    "example": "1"
                  },
                  "date": {
                    "type": "string",
                    "example": "2023-03-08T00:00:00.000Z"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "BatchDate created Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getAllBatchDates": {
      "get": {
        "tags": ["BatchDate"],
        "summary": "Get All BatchDate",
        "description": "Get BatchDate Details",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit of page no.",
            "type": "integer"
          },
          {
            "name": "classes",
            "in": "query",
            "description": "class id",
            "type": "integer"
          },
          {
            "name": "batches",
            "in": "query",
            "description": "batch type id",
            "type": "integer",
            "example": 1
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string",
            "example": ["all", "active", "inactive", ""]
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "xml": {
                    "wrapped": true
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getBatchDateById/{id}": {
      "get": {
        "tags": ["BatchDate"],
        "summary": "Get BatchDate By Id",
        "description": "Get BatchDate Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 2
                      },
                      "date": {
                        "type": "string",
                        "example": "2023-03-08T00:00:00.000Z"
                      },
                      "courseId": {
                        "type": "integer",
                        "example": 1
                      },
                      "course": {
                        "type": "string",
                        "example": "jee"
                      },
                      "boardId": {
                        "type": "integer",
                        "example": 2
                      },
                      "board": {
                        "type": "string",
                        "example": "CBSE"
                      },
                      "classId": {
                        "type": "integer",
                        "example": 2
                      },
                      "class": {
                        "type": "string",
                        "example": "1"
                      },
                      "batchTypeId": {
                        "type": "integer",
                        "example": 2
                      },
                      "batchType": {
                        "type": "string",
                        "example": "English"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getBatchDateByBatchTypeId": {
      "post": {
        "tags": ["BatchDate"],
        "summary": "Get BatchDate By course,board,class,batchTypeId",
        "description": "Get BatchDate Details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "integer",
                    "example": 9
                  },
                  "boardId": {
                    "type": "integer",
                    "example": 11
                  },
                  "classId": {
                    "type": "integer",
                    "example": 10
                  },
                  "batchTypeId": {
                    "type": "integer",
                    "example": 3
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/updatedBatchDateById": {
      "put": {
        "tags": ["BatchDate"],
        "summary": "BatchDate update by id",
        "description": "BatchDate update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "integer",
                    "example": 9
                  },
                  "boardId": {
                    "type": "integer",
                    "example": 11
                  },
                  "classId": {
                    "type": "integer",
                    "example": 10
                  },
                  "batchTypeId": {
                    "type": "integer",
                    "example": 3
                  },
                  "batchDateId": {
                    "type": "integer",
                    "example": 1
                  },
                  "date": {
                    "type": "string",
                    "example": "2023-03-08T00:00:00.000Z"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "BatchDate updated Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/deleteBatchDateById/{id}": {
      "delete": {
        "tags": ["BatchDate"],
        "summary": "delete BatchDate By Id",
        "description": "delete BatchDate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "BatchDate deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/addBatchType": {
      "post": {
        "tags": ["BatchType"],
        "summary": "create batchType ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "number",
                    "example": "1"
                  },
                  "boardId": {
                    "type": "number",
                    "example": "1"
                  },
                  "classId": {
                    "type": "number",
                    "example": "1"
                  },
                  "name": {
                    "type": "string",
                    "example": "1"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "batchType created Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getAllBatchTypes": {
      "get": {
        "tags": ["BatchType"],
        "summary": "Get All batchType",
        "description": "Get batchType Details",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit of page no.",
            "type": "integer"
          },
          {
            "name": "search",
            "in": "query",
            "description": "id batch type",
            "type": "id",
            "example": 1
          },
          {
            "name": "classes",
            "in": "query",
            "description": "class id",
            "type": "integer",
            "example": 1
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string",
            "example": ["all", "active", "inactive", ""]
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "wrapped": true
                  },
                  "items": {
                    "properties": {
                      "id": {
                        "type": "number",
                        "example": 2
                      },
                      "batchTypeName": {
                        "type": "string",
                        "example": "English"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getBatchTypeById/{id}": {
      "get": {
        "tags": ["BatchType"],
        "summary": "Get batchType By Id",
        "description": "Get batchType Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number",
                        "example": 2
                      },
                      "name": {
                        "type": "string",
                        "example": "English"
                      },
                      "courseId": {
                        "type": "number",
                        "example": 1
                      },
                      "course": {
                        "type": "string",
                        "example": "jee"
                      },
                      "boardId": {
                        "type": "number",
                        "example": 2
                      },
                      "board": {
                        "type": "string",
                        "example": "jee"
                      },
                      "classId": {
                        "type": "number",
                        "example": 2
                      },
                      "class": {
                        "type": "string",
                        "example": "jee"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getBatchTypeByClassId": {
      "post": {
        "tags": ["BatchType"],
        "summary": "Get batchType By course,board,classId",
        "description": "Get batchType Details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "classId": {
                    "type": "number",
                    "example": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/updatedBatchTypeById": {
      "put": {
        "tags": ["BatchType"],
        "summary": "batchType update by id",
        "description": "batchType update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "number",
                    "example": "1"
                  },
                  "boardId": {
                    "type": "number",
                    "example": "1"
                  },
                  "classId": {
                    "type": "number",
                    "example": "1"
                  },
                  "batchTypeId": {
                    "type": "number",
                    "example": "1"
                  },
                  "name": {
                    "type": "string",
                    "example": "English"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "batchType updated Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/deleteBatchTypeById/{id}": {
      "delete": {
        "tags": ["BatchType"],
        "summary": "delete batchType By Id",
        "description": "delete batchType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "batchType deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },

    "/addChapter": {
      "post": {
        "tags": ["Chapter"],
        "summary": "create Chapter ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "integer",
                    "example": 12
                  },
                  "boardId": {
                    "type": "integer",
                    "example": 13
                  },
                  "classId": {
                    "type": "integer",
                    "example": 13
                  },
                  "batchTypeId": {
                    "type": "integer",
                    "example": 8
                  },
                  "subjectId": {
                    "type": "integer",
                    "example": 8
                  },
                  "name": {
                    "type": "string",
                    "example": "integration"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chapter created Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getAllChapters": {
      "get": {
        "tags": ["Chapter"],
        "summary": "Get All Chapter",
        "description": "Get Chapter Details",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit of page no.",
            "type": "integer"
          },
          {
            "name": "search",
            "in": "query",
            "description": "packages name",
            "type": "string"
          },
          {
            "name": "classes",
            "in": "query",
            "description": "class id",
            "type": "integer"
          },
          {
            "name": "subject",
            "in": "query",
            "description": "subject id",
            "type": "integer"
          },
          {
            "name": "chapter",
            "in": "query",
            "description": "chapter id",
            "type": "integer"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string",
            "example": ["all", "active", "inactive", ""]
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "xml": {
                    "wrapped": true
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getChapterById/{id}": {
      "get": {
        "tags": ["Chapter"],
        "summary": "Get Chapter By Id",
        "description": "Get Chapter Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 2
                      },
                      "name": {
                        "type": "string",
                        "example": "math"
                      },
                      "courseId": {
                        "type": "integer",
                        "example": 1
                      },
                      "course": {
                        "type": "string",
                        "example": "jee"
                      },
                      "boardId": {
                        "type": "integer",
                        "example": 2
                      },
                      "board": {
                        "type": "string",
                        "example": "CBSE"
                      },
                      "classId": {
                        "type": "integer",
                        "example": 2
                      },
                      "class": {
                        "type": "string",
                        "example": "1"
                      },
                      "batchTypeId": {
                        "type": "integer",
                        "example": 2
                      },
                      "batchType": {
                        "type": "string",
                        "example": "English"
                      },
                      "subjectId": {
                        "type": "integer",
                        "example": 2
                      },
                      "subject": {
                        "type": "string",
                        "example": "math"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getChapterBySubjectId": {
      "post": {
        "tags": ["Chapter"],
        "summary": "Get Chapter By course,board,class,batchType,subjectId",
        "description": "Get Chapter Details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "subjectId": {
                    "type": "integer",
                    "example": 8
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/updateChapterById": {
      "put": {
        "tags": ["Chapter"],
        "summary": "Chapter update by id",
        "description": "Chapter update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "integer",
                    "example": 9
                  },
                  "boardId": {
                    "type": "integer",
                    "example": 11
                  },
                  "classId": {
                    "type": "integer",
                    "example": 10
                  },
                  "batchTypeId": {
                    "type": "integer",
                    "example": 3
                  },
                  "subjectId": {
                    "type": "integer",
                    "example": 1
                  },
                  "chapterId": {
                    "type": "integer",
                    "example": 1
                  },
                  "name": {
                    "type": "string",
                    "example": "dynamic"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chapter updated Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/deleteChapterById/{id}": {
      "delete": {
        "tags": ["Chapter"],
        "summary": "delete Chapter By Id",
        "description": "delete Chapter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "Chapter deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getChapterByOnlySubjectId": {
      "get": {
        "tags": ["Chapter"],
        "summary": "Get Chapter By Id",
        "description": "Get Chapter Details",
        "parameters": [
          {
            "name": "subjectId",
            "in": "query",
            "description": "subjectId",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 2
                      },
                      "name": {
                        "type": "string",
                        "example": "math"
                      },
                      "subjectId": {
                        "type": "integer",
                        "example": 2
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/addCity": {
      "post": {
        "tags": ["City"],
        "summary": "add City ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "stateId": {
                    "type": "integer",
                    "example": 1
                  },
                  "name": {
                    "type": "string",
                    "example": "raigarh"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "City added Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "xml": {
                    "wrapped": true
                  },
                  "items": {
                    "properties": {
                      "stateId": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAllCity": {
      "get": {
        "tags": ["City"],
        "summary": "Get All City",
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "500": {
          "description": "Invalid status value",
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "example": "An unexpected error occurred or bad request"
              }
            }
          }
        }
      }
    },
    "/getCityById/{id}": {
      "get": {
        "tags": ["City"],
        "summary": "Get City By Id",
        "description": "Get City Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/getAllCityByStateId/{id}": {
      "get": {
        "tags": ["City"],
        "summary": "Get City By state Id",
        "description": "Get City by stateId Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/updateCityById": {
      "put": {
        "tags": ["City"],
        "summary": "City update by id",
        "description": "City update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "cityId": {
                    "type": "integer",
                    "example": 1
                  },
                  "name": {
                    "type": "string",
                    "example": "raipur"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "City updated Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },

    "/getCityByMultipleStateId": {
      "post": {
        "tags": ["City"],
        "summary": "Get multiple City by , multiple state id",
        "description": "Get multiple City by , multiple state id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "stateIds": {
                    "type": "array",
                    "example": [1, 5, 9]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Get City Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/deleteCityById/{id}": {
      "delete": {
        "tags": ["City"],
        "summary": "delete City By Id",
        "description": "delete City",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "City deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/createClass": {
      "post": {
        "tags": ["Class"],
        "summary": "create Class ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "number",
                    "example": "1"
                  },
                  "boardId": {
                    "type": "number",
                    "example": "1"
                  },
                  "name": {
                    "type": "string",
                    "example": "1"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Class created Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "xml": {
                    "wrapped": true
                  },
                  "items": {
                    "properties": {
                      "courseId": {
                        "type": "integer",
                        "example": 1
                      },
                      "name": {
                        "type": "string",
                        "example": "jee"
                      },
                      "telegramUrl": {
                        "type": "string",
                        "example": "http:/vedaAcademy.com/"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getAllClasses": {
      "get": {
        "tags": ["Class"],
        "summary": "Get All Class",
        "description": "Get Class Details",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit of page no.",
            "type": "integer"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search value",
            "type": "integer"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string",
            "example": ["all", "active", "inactive", ""]
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getClassById/{id}": {
      "get": {
        "tags": ["Class"],
        "summary": "Get Class By Id",
        "description": "Get Class Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getClassByBoardId": {
      "post": {
        "tags": ["Class"],
        "summary": "Get Class By course and boardId",
        "description": "Get Class Details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "number",
                    "example": "1"
                  },
                  "boardId": {
                    "type": "number",
                    "example": "1"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/updateClassById": {
      "put": {
        "tags": ["Class"],
        "summary": "Class update by id",
        "description": "Class update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "number",
                    "example": "1"
                  },
                  "boardId": {
                    "type": "number",
                    "example": "1"
                  },
                  "classId": {
                    "type": "number",
                    "example": "1"
                  },
                  "name": {
                    "type": "string",
                    "example": "3"
                  },
                  "telegramUrl": {
                    "type": "string",
                    "example": "http:/vedaAcademy.com/"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "update Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/deleteClassById/{id}": {
      "delete": {
        "tags": ["Class"],
        "summary": "delete Class By Id",
        "description": "delete Class",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "Class deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/createCourse": {
      "post": {
        "tags": ["Course"],
        "summary": "create Course ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "CBSE"
                  },
                  "image": {
                    "type": "string",
                    "example": "data:image/png;base64,/9j/4AAQSkZJRgABAQAAAQABAAD"
                  },
                  "shortDescription": {
                    "type": "string",
                    "example": "course for k-12"
                  },
                  "list": {
                    "type": "string",
                    "example": "['class-12']"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "course created Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "xml": {
                    "wrapped": true
                  },
                  "items": {
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "image": {
                        "type": "string"
                      },
                      "shortDescription": {
                        "type": "string"
                      },
                      "list": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAllCourses": {
      "get": {
        "tags": ["Course"],
        "summary": "Get All Course",
        "description": "Get Course Details",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit of page no.",
            "type": "integer"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string",
            "example": ["all", "active", "inactive", ""]
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "500": {
          "description": "Invalid status value",
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "example": "An unexpected error occurred or bad request"
              }
            }
          }
        }
      }
    },
    "/getCourseById/{id}": {
      "get": {
        "tags": ["Course"],
        "summary": "Get Course By Id",
        "description": "Get Course Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "found Data!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/getCourseByStudentId": {
      "get": {
        "tags": ["Course"],
        "summary": "Get Course Details",
        "description": "Get Course Details",

        "responses": {
          "200": {
            "status": 200,
            "description": "Found Data!!!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/updatedCourseById": {
      "put": {
        "tags": ["Course"],
        "summary": "course update by id",
        "description": "course update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "number",
                    "example": "1"
                  },
                  "name": {
                    "type": "string",
                    "example": "CBSE"
                  },
                  "image": {
                    "type": "string",
                    "example": "data:image/png;base64,/9j/4AAQSkZJRgABAQAAAQABAAD"
                  },
                  "shortDescription": {
                    "type": "string",
                    "example": "course for k-12"
                  },
                  "list": {
                    "type": "string",
                    "example": "['class-12']"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "update Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/deleteCourse/{id}": {
      "delete": {
        "tags": ["Course"],
        "summary": "delete Course By Id",
        "description": "delete Course",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "course deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getAllTeacher": {
      "get": {
        "tags": ["Teacher"],
        "summary": "Get Teacher Details",
        "description": "Get teacher Details",
        "responses": {
          "200": {
            "status": 200,
            "description": "Found Data!!!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/getTeacherById/{id}": {
      "get": {
        "tags": ["Teacher"],
        "summary": "Get teacher By Id",
        "description": "Get teacher Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "Found Data!!!!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/updateTeacherById/{id}": {
      "patch": {
        "tags": ["Teacher"],
        "summary": "Teacher update by id",
        "description": "Teacher update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "chinmayee",
                    "required": true
                  },
                  "email": {
                    "type": "string",
                    "example": "chinmayee@gmail.com",
                    "required": true
                  },
                  "password": {
                    "type": "string",
                    "example": "ffd546fgdz",
                    "required": true
                  },
                  "phone": {
                    "type": "string",
                    "example": "9999999999",
                    "required": true
                  },
                  "department": {
                    "type": "string",
                    "example": "teacher",
                    "enum": ["teacher", "superAdmin", "manager"],
                    "required": true
                  },
                  "dob": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "gender": {
                    "type": "string",
                    "example": "Male",
                    "enum": ["Male", "Female", "Other"]
                  },
                  "boardId": {
                    "type": "integer",
                    "example": 1
                  },
                  "classId": {
                    "type": "integer",
                    "example": 1
                  },
                  "subjectId": {
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/deleteTeacherById/{id}": {
      "delete": {
        "tags": ["Teacher"],
        "summary": "Teacher details By Id",
        "description": "delete teacher",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "status": 200,
            "description": "Teacher deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred or bad request"
                }
              }
            }
          }
        }
      }
    },
    "/getAllMentor": {
      "get": {
        "tags": ["Teacher"],
        "summary": "Get All Mentor Details",
        "description": "Get All Mentor Details",
        "responses": {
          "200": {
            "status": 200,
            "description": "Found Data!!!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/createScholarship": {
      "post": {
        "tags": ["Scholarship"],
        "summary": "create Scholarship ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [""],
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "lecture dekho scholarship "
                  },
                  "lastDateOfRegistration": {
                    "type": "string",
                    "example": "2023-01-04T08:16:16.687Z"
                  },
                  "courseId": {
                    "type": "integer",
                    "example": "2"
                  },
                  "boardId": {
                    "type": "integer",
                    "example": "2"
                  },
                  "classId": {
                    "type": "array",
                    "example": [7, 8, 9, 10]
                  },
                  "syllabusId": {
                    "type": "array",
                    "example": [7, 8, 9, 10]
                  },
                  "startTime": {
                    "type": "string",
                    "example": "10:30:00"
                  },
                  "endTime": {
                    "type": "string",
                    "example": "11:30:00"
                  },
                  "date": {
                    "type": "string",
                    "example": "2023-04-01"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Scholarship added Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "scholarship created successfully",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "content": {
[...]
